@media (max-width: 990px) {
  .body {
    padding: 0.5% 12%;
  }
}

@media (max-width: 800px) {
  .body {
    padding: 0.5% 5%;
  }

  .header {
    .logo {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 600px) {
  .body {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 2rem;
  }

  .header {
    height: 8rem;
  }

  .first-row,
  .second-row {
    width: 100%;
    height: auto;
    gap: 2rem;
  }
}
